<div
  *ngIf="quiz | async as quiz"
  class="w-full flex flex-col gap-4 justify-center items-center"
>
  <ng-container *ngIf="quiz.loaded; else loading">
    <angular-quiz-quiz-info
      [currentQuestionNumber]="quiz.currentIndex"
      [totalQuestions]="quiz.totalQuestions"
      [score]="quiz.score"
      [timer]="quiz.timer"
    ></angular-quiz-quiz-info>

    <h1 class="text-xl">{{ quiz.content.question }}</h1>

    <ng-container *ngIf="quiz.content as question">
      <angular-quiz-answer-options
        [questionId]="question.questionId"
        [questionType]="question.type"
        [answerChoices]="question.answers"
        [response]="question.response"
        [correctAnswer]="question.correctAnswer"
        (userResponse)="recordResponse($event)"
      ></angular-quiz-answer-options>
    </ng-container>

    <div class="flex gap-3 mt-5">
      <button
        class="rounded shadow-md px-4 py-2 bg-blue-600 text-white place-content-center disabled:cursor-not-allowed disabled:bg-blue-500"
        [disabled]="!quiz.content.response"
        (click)="quiz.currentIndex < quiz.totalQuestions ? nextQuestion(): finishQuiz()"
      >
        <span *ngIf="quiz.currentIndex < quiz.totalQuestions; else finish">
          Next
        </span>
      </button>

      <button
        class="rounded shadow-md px-4 py-2 bg-slate-500 text-white place-content-center disabled:cursor-not-allowed disabled:bg-blue-500"
        *ngIf="!quiz.content.response"
        (click)="skipQuestion()"
      >
        Skip
      </button>
    </div>

    <ng-template #finish>
      <span> Finish </span>
    </ng-template>
  </ng-container>

  <ng-template #loading><mat-spinner></mat-spinner></ng-template>
</div>
