<div
  *ngIf="quiz$ | async as quiz"
  class="flex w-full flex-col items-center justify-center gap-4"
>
  <ng-container *ngIf="quiz.loaded; else loading">
    <angular-quiz-quiz-info
      [currentQuestionNumber]="quiz.currentIndex"
      [totalQuestions]="quiz.totalQuestions"
      [score]="quiz.score"
      [timer]="quiz?.timer"
    ></angular-quiz-quiz-info>

    <h1 class="text-xl w-[300px]">{{ quiz.content?.question }}</h1>

    <ng-container *ngIf="quiz.content as question">
      <angular-quiz-answer-options
        [questionId]="question.questionId"
        [questionType]="question.type"
        [answerChoices]="question.answers"
        [response]="question.response"
        [correctAnswer]="question.correctAnswer"
        [quizMode]="quiz.mode"
        (userResponse)="recordResponse($event)"
      ></angular-quiz-answer-options>
    </ng-container>

    <div class="mt-5 flex gap-3">
      <button
        class="place-content-center rounded bg-blue-600 px-4 py-2 text-white shadow-md disabled:cursor-not-allowed disabled:bg-blue-500"
        [disabled]="!quiz.content?.response"
        (click)="
          quiz.currentIndex < quiz.totalQuestions
            ? nextQuestion()
            : finishQuiz()
        "
      >
        <span *ngIf="quiz.currentIndex < quiz.totalQuestions; else finish">
          Next
        </span>
      </button>

      <button
        class="place-content-center rounded bg-slate-500 px-4 py-2 text-white shadow-md disabled:cursor-not-allowed disabled:bg-blue-500"
        *ngIf="!quiz.content?.response && quiz.mode === 'practice'"
        (click)="skipQuestion()"
      >
        Skip
      </button>
    </div>

    <ng-template #finish>
      <span> Finish </span>
    </ng-template>
  </ng-container>

  <ng-template #loading><mat-spinner></mat-spinner></ng-template>
</div>
