<div class="flex w-[70vw] justify-center">
  <h1 class="flex-1 text-center font-bold" [ngClass]="{ absolute: timer }">
    Question {{ currentQuestionNumber }}/{{ totalQuestions }}
  </h1>
  <h1 class="ml-auto" *ngIf="timer">
    <span
      [ngStyle]="{
        color:
          timer.status === 'end'
            ? 'red'
            : timer.status === 'half'
            ? 'rgb(234 179 8)'
            : 'unset'
      }"
      class="fas fa-hourglass{{ '-' + timer.status }}"
    >
      {{ timer.remainingTime | timer }}
    </span>
  </h1>
</div>
<h2 class="text-center font-semibold">Score: {{ score }}</h2>
