<div
  *ngIf="quiz | async as quiz"
  class="w-full flex flex-col gap-4 justify-center items-center"
>
  <ng-container *ngIf="quiz.loaded; else loading">
    <div class="w-1/4 flex justify-between">
      <h1 class="font-bold text-center">
        Question {{ quiz.currentIndex }}/{{ quiz.totalQuestions }}
      </h1>
      <h1>
        <span
          [ngStyle]="{
            color:
              quiz.timer.status === 'end'
                ? 'red'
                : quiz.timer.status === 'half'
                ? 'rgb(234 179 8)'
                : 'unset'
          }"
          class="fas fa-hourglass{{ '-' + quiz.timer.status }}"
        >
          {{ quiz.timer.displayTime }}
        </span>
      </h1>
    </div>
    <h2 class="font-semibold text-center">Score: {{ quiz.score }}</h2>

    <h1 class="text-xl">{{ quiz.content.question }}</h1>
    <div
      class="grid grid-cols-2 gap-2 w-9/12"
      [ngClass]="{
        'w-9/12': quiz.content.type === 'text_choice',
        'w-1/2': quiz.content.type === 'image_choice'
      }"
    >
      <button
        class="text-white font-medium rounded bg-blue-400 px-5 py-3 w-full enabled:hover:bg-blue-600 enabled:cursor-pointer"
        *ngFor="
          let option of quiz.content.answers | shuffle : quiz.content.response
        "
        [ngClass]="{
          'bg-green-500':
            quiz.content.response && option === quiz.content.correctAnswer,
          'bg-red-700':
            quiz.content.response &&
            quiz.content.response !== quiz.content.correctAnswer
              ? option === quiz.content.response
              : null
        }"
        [disabled]="quiz.content.response"
        [value]="option"
        (click)="recordResponse(option, quiz.id)"
      >
        <span *ngIf="quiz.content.type === 'text_choice'; else imageOption">
          {{ option }}
        </span>
        <ng-template #imageOption>
          <img
            class="w-full h-full object-cover"
            [src]="$any(option).url"
            alt=""
          />
        </ng-template>
      </button>
    </div>

    <div class="flex gap-3 mt-5">
      <button
        class="rounded shadow-md px-4 py-2 bg-blue-600 text-white place-content-center disabled:cursor-not-allowed disabled:bg-blue-500"
        [disabled]="!quiz.content.response"
        (click)="nextQuestion()"
      >
        <span *ngIf="quiz.currentIndex < quiz.totalQuestions; else finish">
          Next
        </span>
      </button>

      <button
        class="rounded shadow-md px-4 py-2 bg-slate-500 text-white place-content-center disabled:cursor-not-allowed disabled:bg-blue-500"
        *ngIf="!quiz.content.response"
        (click)="skipQuestion()"
      >
        Skip
      </button>
    </div>

    <ng-template #finish>
      <span> Finish </span>
    </ng-template>
  </ng-container>

  <ng-template #loading><mat-spinner></mat-spinner></ng-template>
</div>
