<div
  [ngClass]="{
    'grid grid-cols-2 gap-2 auto-rows-[200px]': questionType === 'image_choice',
    'flex flex-col gap-3 w-[300px]': questionType === 'text_choice'
  }"
>
  <button
    class="text-white font-medium rounded bg-blue-400 w-full enabled:hover:bg-blue-600 enabled:cursor-pointer"
    *ngFor="let option of $any(answerChoices) | shuffle : response"
    [ngClass]="{
      'px-5 py-3': questionType === 'text_choice',
      'p-3': questionType === 'image_choice',
      'bg-green-500': response && option === correctAnswer,
      'bg-red-700':
        response && response !== correctAnswer ? option === response : null
    }"
    [disabled]="response"
    [value]="option"
    (click)="recordResponse(option, questionId)"
  >
    <span *ngIf="questionType === 'text_choice'; else imageOption">
      {{ option }}
    </span>
    <ng-template #imageOption>
      <img class="w-full h-full object-cover" [src]="$any(option).url" alt="" />
    </ng-template>
  </button>
</div>
