<div
  class="flex w-full items-center justify-center"
  *ngIf="trivia$ | async as trivia"
>
  <form
    [formGroup]="triviaForm"
    class="flex w-[90vw] flex-col gap-3 rounded-md border border-cyan-200 px-2 py-2 lg:w-1/3"
    (ngSubmit)="submitForm()"
  >
    <fieldset class="border border-solid border-gray-300 p-3">
      <legend class="text-sm">User Info</legend>

      <div class="form-group flex-col">
        <mat-form-field class="mb-2 w-full">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            placeholder="Provide your name..."
          />
          <mat-error>This is a required field</mat-error>
        </mat-form-field>

        <div class="form-group">
          <label>Choose a mode</label>
          <mat-radio-group class="flex lg:gap-2" formControlName="mode">
            <mat-radio-button
              class="m-1"
              *ngFor="let mode of trivia.modes"
              [value]="mode.type"
            >
              {{ mode.type | titlecase }}
              <sup
                class="far fa-question-circle cursor-pointer"
                [matTooltip]="mode.toolTip"
              ></sup>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </fieldset>

    <fieldset class="border border-solid border-gray-300 p-3">
      <legend class="text-sm">Quiz Criteria (Optional)</legend>
      <div
        class="form-group flex flex-col sm:flex-row sm:items-center sm:gap-5"
      >
        <label for="limit">Number of Questions </label>
        <mat-slider
          class="flex-grow sm:flex-shrink"
          min="5"
          max="20"
          step="1"
          value="5"
          discrete
        >
          <input id="limit" formControlName="limit" matSliderThumb />
        </mat-slider>
      </div>

      <div class="flex flex-col">
        <mat-form-field>
          <mat-label>Difficulty</mat-label>
          <mat-select id="difficulty" formControlName="difficulties">
            <mat-option
              *ngFor="let difficulty of trivia.difficulties"
              [value]="difficulty"
            >
              {{ difficulty | titlecase }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Trivia Categories</mat-label>
          <mat-select id="categories" formControlName="categories" multiple>
            <mat-option
              *ngFor="let category of trivia.categories | keyvalue"
              [value]="category.value[0]"
            >
              {{ category.key }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <!-- <mat-form-field class="w-full">
        <mat-label>Type</mat-label>
        <mat-select id="types" formControlName="types" multiple>
          <mat-option
            *ngFor="let option of trivia.questionTypes | keyvalue"
            [value]="option.value"
          >
            {{ option.key | titlecase }}</mat-option
          >
        </mat-select>
      </mat-form-field> -->
    </fieldset>

    <button
      class="w-full rounded bg-blue-400 px-5 py-2 text-white shadow-md hover:bg-blue-500 disabled:cursor-not-allowed disabled:bg-blue-300"
      type="submit"
      [disabled]="triviaForm.invalid"
    >
      Start Quiz
    </button>
  </form>
</div>
