<form #triviaForm="ngForm" class="border border-cyan-200 rounded-md px-2 py-2">
  <div class="form-group flex justify-between">
    <label for="limit"
      >Number of Questions
      <span class="font-semibold mr-3">{{ triviaOptions.limit }}</span></label
    >
    <input
      type="range"
      min="5"
      max="20"
      id="limit"
      name="limit"
      defaultValue="5"
      [(ngModel)]="triviaOptions.limit"
    />
  </div>

  <div class="form-group flex justify-between">
    <label for="difficulty">Difficulty</label>
    <select
      class="form-control"
      name="difficulty"
      [(ngModel)]="triviaOptions.difficulty"
      required
    >
      <option *ngFor="let option of difficulty" [value]="option">
        {{ option | titlecase }}
      </option>
    </select>
  </div>

  <div class="form-group flex justify-between">
    <label for="categories">Trivia Categories</label>
    <select
      class="form-control"
      name="categories"
      [(ngModel)]="triviaOptions.categories"
      required
    >
      <option
        *ngFor="let category of categories | async | keyvalue"
        [value]="category.value[0]"
      >
        {{ category.key }}
      </option>
    </select>
  </div>
</form>

<button
  class="w-full mt-5 text-gray-800 hover:bg-blue-500 px-5 py-2 rounded shadow-md bg-blue-300"
  (click)="submitForm(triviaForm)"
>
  Start Quiz
</button>
