<div class="w-full flex justify-center items-center">
  <form
    [formGroup]="triviaForm"
    class="border border-cyan-200 rounded-md px-2 py-2"
    (ngSubmit)="submitForm()"
  >
    <div class="form-group flex items-center gap-5">
      <label for="limit">Number of Questions </label>
      <mat-slider class="flex-grow" min="5" max="20" step="1" value="5" discrete>
        <input id="limit" formControlName="limit" matSliderThumb />
      </mat-slider>
    </div>
  
    <div class="flex gap-5">
      <mat-form-field>
        <mat-label>Difficulty</mat-label>
        <mat-select id="difficulty" formControlName="difficulties" multiple>
          <mat-option *ngFor="let option of difficulty" [value]="option">
            {{ option | titlecase }}</mat-option
          >
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Trivia Categories</mat-label>
        <mat-select id="categories" formControlName="categories" multiple>
          <mat-option
            *ngFor="let category of categories | async | keyvalue"
            [value]="category.value[0]"
          >
            {{ category.key }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select id="types" formControlName="types" multiple>
        <mat-option
          *ngFor="let option of types | keyvalue"
          [value]="option.value"
        >
          {{ option.key | titlecase }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  
    <button
      class="w-full mt-5 text-white hover:bg-blue-500 px-5 py-2 rounded shadow-md bg-blue-300"
      type="submit"
    >
      Start Quiz
    </button>
  </form>
</div>
